.table-margin {
  margin: 2%;
}

.tbl-border {
  border: 1px solid;
}

.th-td-margin {
  padding-left: 2px;
  padding-right: 2px;
}

.col-header {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;  
}
