<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>View Product Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid *ngIf="productDetails && productDetails.length > 0">
    <ion-row>
      <ion-col class="th-td-margin col-header tbl-border">Input Code</ion-col>
      <ion-col class="th-td-margin col-header tbl-border">Input Material Description</ion-col>
      <ion-col class="th-td-margin col-header tbl-border">Output Code</ion-col>
      <ion-col class="th-td-margin col-header tbl-border">Output Material Description</ion-col>
      <ion-col class="th-td-margin col-header tbl-border">Project Name</ion-col>
      <ion-col class="th-td-margin col-header tbl-border">Split Ratio</ion-col>
      <ion-col class="th-td-margin col-header tbl-border">Product Mappings</ion-col>
    </ion-row>
    <ion-row *ngFor="let productDetail of productDetails">
      <ion-col class="th-td-margin tbl-border">{{productDetail.InputCode}}</ion-col>
      <ion-col class="th-td-margin tbl-border">{{productDetail.InputMaterialDesc}}</ion-col>
      <ion-col class="th-td-margin tbl-border">{{productDetail.OutputCode}}</ion-col>
      <ion-col class="th-td-margin tbl-border">{{productDetail.OutputMaterialDesc}}</ion-col>
      <ion-col class="th-td-margin tbl-border">{{productDetail.ProjectName}}</ion-col>
      <ion-col class="th-td-margin tbl-border">{{productDetail.SplitRatio}}</ion-col>
      <ion-col class="th-td-margin tbl-border cursor-pointer" (click)="redirectToProductMappings(productDetail)">
        Add/View Product Mappings</ion-col>
    </ion-row>
  </ion-grid> -->

  <ag-grid-angular *ngIf="productDetails && productDetails.length > 0" style="width: 100%; height: 100%;"
    [gridOptions]="gridOptions" class="ag-theme-balham" [rowData]="productDetails" [columnDefs]="columnDefs"
    [frameworkComponents]="frameworkComponents" [context]="context" (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</ion-content>