<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>BASF Invoice Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ag-grid-angular *ngIf="basfInvoices" style="width: 100%; height: 100%;" class="ag-theme-balham"
    [gridOptions]="gridOptions" [rowData]="basfInvoices" [columnDefs]="columnDefs"
    [frameworkComponents]="frameworkComponents" [context]="context" (rowDoubleClicked)="showDetails($event)">
  </ag-grid-angular>
</ion-content>