.asterisk-color-red {
  color: red;
}

.ion-grid-margin {
  margin: 1%;
}

.ion-grid-border {
  border: 1px solid;
  border-radius: 5px;
}

.input-codes-div-height {
  height: 70%;
}

.input-codes-div-scroll {
  overflow: auto;
}

.submit-button-margin {
  margin: 1%;
}

.cursor-pointer {
  cursor: pointer;
}
