<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Purchase Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Project Name:</ion-label>
          <ion-input name="ProjectName" [(ngModel)]="outputCode.ProjectName"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Output Code: <span class="asterisk-color-red">*</span></ion-label>
          <ion-input name="OutputCodeNo" [(ngModel)]="outputCode.OutputCodeNo"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Output Material Description:</ion-label>
          <ion-input name="OutputMaterialDesc" [(ngModel)]="outputCode.OutputMaterialDesc"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Output Quantity: <span class="asterisk-color-red">*</span></ion-label>
          <ion-input name="OutputQuantity" [(ngModel)]="outputCode.OutputQuantity"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="input-codes-div-height input-codes-div-scroll">
    <ion-grid *ngFor="let inputCode of inputCodes; let i = index" class="ion-grid-margin ion-grid-border">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Input Code: <span class="asterisk-color-red">*</span></ion-label>
            <ion-input name="InputCodeNoi" [(ngModel)]="inputCode.InputCodeNo"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label>Input Material Description:</ion-label>
            <ion-input name="InputMaterialDesci" [(ngModel)]="inputCode.InputMaterialDesc"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label>Input Quantity: <span class="asterisk-color-red">*</span></ion-label>
            <ion-input name="InputQuantityi" [(ngModel)]="inputCode.InputQuantity"></ion-input>
          </ion-item>
        </ion-col>
        <ion-icon *ngIf="i !== 0" name="close" class="cursor-pointer" (click)="removeInputCode(i)"></ion-icon>
        <ion-icon *ngIf="i === 0"></ion-icon>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Split Quantity: <span class="asterisk-color-red">*</span></ion-label>
            <ion-input name="SplitQuantityi" [(ngModel)]="inputCode.SplitQuantity"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label>Part Type: <span class="asterisk-color-red">*</span></ion-label>
            <ion-select name="PartTypeIdi" [(ngModel)]="inputCode.PartTypeId">
              <ion-select-option *ngFor="let partType of partTypes" [value]="partType.PartTypeId">
                {{partType.PartTypeName}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label>BASF Challan No: <span class="asterisk-color-red">*</span></ion-label>
            <ion-input name="BASFChallanNoi" [(ngModel)]="inputCode.BASFChallanNo"></ion-input>
          </ion-item>
        </ion-col>
        <ion-icon></ion-icon>
      </ion-row>
    </ion-grid>
  </div>

  <ion-button class="submit-button-margin" title="Submit Purchase Order" (click)="submitPurchaseOrder()">Submit
  </ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addInputCode()" title="Add Input Codes">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>