.bold-font {
  font-weight: bold;
}

.border-bottom {
  border-bottom: 1px solid;
}

.grid-border {
  border: 1px solid;
}

#content-div {
  margin: 1%;
}

.export-csv {
  margin-right: 20px;
  cursor: pointer;
}
