<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Product Details</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item *ngIf="productTypes && productTypes.length > 0">
          <ion-label>Product Type:</ion-label>
          <ion-select [(ngModel)]="productDetail.ProductTypeId">
            <ion-select-option *ngFor="let productType of productTypes" [value]="productType.ProductTypeId">
              {{productType.ProductTypeName}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Input Code:</ion-label>
          <ion-input [(ngModel)]="productDetail.InputCode"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Input Material Description:</ion-label>
          <ion-input [(ngModel)]="productDetail.InputMaterialDesc"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isProductCategoryMain()">
      <ion-col>
        <ion-item>
          <ion-label>Output Code:</ion-label>
          <ion-input [(ngModel)]="productDetail.OutputCode"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Output Material Desc:</ion-label>
          <ion-input [(ngModel)]="productDetail.OutputMaterialDesc"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isProductCategoryMain()">
      <ion-col>
        <ion-item>
          <ion-label>Project Name:</ion-label>
          <ion-input [(ngModel)]="productDetail.ProjectName"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Split Ratio:</ion-label>
          <ion-input type="number" min="0" [(ngModel)]="productDetail.SplitRatio" (ionChange)="splitRatioChanged()">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button class="default-margin" (click)="addOrUpdateProductDetails()">Add Product</ion-button>
</ion-content>