<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!isPO">BASF Jobwork Challan Details</ion-title>
    <ion-title *ngIf="isPO">BASF PO Details</ion-title>
    <ion-buttons slot="end">
      <ion-label>BASF PO</ion-label>
      <ion-toggle [(ngModel)]="isPO" (ionChange)="poToggle()"></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="col-header tbl-border">Challan No</ion-col>
      <ion-col class="col-header tbl-border">Challan Date</ion-col>
      <ion-col class="col-header tbl-border">Product Name</ion-col>
      <ion-col class="col-header tbl-border">Input Code</ion-col>
      <ion-col class="col-header tbl-border">Input Quantity</ion-col>
      <ion-col class="col-header tbl-border">Split Ratio</ion-col>
      <ion-col class="col-header tbl-border">Remaining Quantity</ion-col>
    </ion-row>
    <ng-container *ngFor="let challanDetail of challanDetails">
      <ion-row *ngFor="let challanProduct of challanDetail.ChallanProducts; let i = index">
        <ion-col class="tbl-border" *ngIf="i == 0">{{challanDetail.ChallanDetail.ChallanNo}}</ion-col>
        <ion-col class="tbl-border" *ngIf="i == 0">{{challanDetail.ChallanDetail.ChallanDate.split('T')[0]}}</ion-col>
        <ion-col class="tbl-border" *ngIf="i > 0"></ion-col>
        <ion-col class="tbl-border" *ngIf="i > 0"></ion-col>
        <ion-col class="tbl-border">{{challanProduct.ProductDetail.InputMaterialDesc}}</ion-col>
        <ion-col class="tbl-border">{{challanProduct.ProductDetail.InputCode}}</ion-col>
        <ion-col class="tbl-border">{{challanProduct.ChallanProduct.InputQuantity}}</ion-col>
        <ion-col class="tbl-border">{{challanProduct.ProductDetail.SplitRatio}}</ion-col>
        <ion-col class="tbl-border">{{challanProduct.RemainingQuantity}}</ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content> -->

<ion-content>
  <!-- <ion-grid *ngIf="!isPO && challanDetails">
    <ion-row>
      <ion-col class="col-header tbl-border">Challan No</ion-col>
      <ion-col class="col-header tbl-border">Challan Date</ion-col>
      <ion-col class="col-header tbl-border">Total Stock In</ion-col>
      <ion-col class="col-header tbl-border">View Details</ion-col>
    </ion-row>
    <ion-row *ngFor="let challanDetail of challanDetails">
      <ion-col class="tbl-border">{{challanDetail.ChallanDetail.ChallanNo}}</ion-col>
      <ion-col class="tbl-border">{{challanDetail.ChallanDetail.ChallanDate.split('T')[0]}}</ion-col>
      <ion-col class="tbl-border">{{challanDetail.totalStockIn}}</ion-col>
      <ion-col class="cursor-pointer tbl-border" (click)="showDetails(challanDetail)">Click here to view details
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="isPO && poDetails">
    <ion-row>
      <ion-col class="col-header tbl-border">PO No</ion-col>
      <ion-col class="col-header tbl-border">PO Date</ion-col>
      <ion-col class="col-header tbl-border">Total Stock In</ion-col>
      <ion-col class="col-header tbl-border">View Details</ion-col>
    </ion-row>
    <ion-row *ngFor="let poDetail of poDetails">
      <ion-col class="tbl-border">{{poDetail.PODetail.PONo}}</ion-col>
      <ion-col class="tbl-border">{{poDetail.PODetail.PODate.split('T')[0]}}</ion-col>
      <ion-col class="tbl-border">{{poDetail.totalStockIn}}</ion-col>
      <ion-col class="cursor-pointer tbl-border" (click)="showPODetails(poDetail)">Click here to view details
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ag-grid-angular *ngIf="!isPO && challanDetails" style="width: 100%; height: 100%;" class="ag-theme-balham"
    [gridOptions]="gridOptions" [rowData]="challanDetails" [columnDefs]="columnDefsChallan"
    (rowDoubleClicked)="showDetails($event)">
  </ag-grid-angular>

  <ag-grid-angular *ngIf="isPO && poDetails" style="width: 100%; height: 100%;" class="ag-theme-balham"
    [gridOptions]="gridOptions" [rowData]="poDetails" [columnDefs]="columnDefsPO"
    (rowDoubleClicked)="showPODetails($event)">
  </ag-grid-angular>
</ion-content>
