.header-style {
  font-weight: bold;
  font-size: large;
}

.label-margin {
  margin-left: 2%;
}

.top-margin-2 {
  margin-top: 2%;
}

.left-margin-3 {
  margin-left: 3%;
}

.grid-header {
  font-weight: bold;
}

.center-align {
  text-align: center;
}

.padding-10 {
  padding: 10px 0px 10px 8px !important;
}

.margin-padding-0 {
  margin: 0px !important;
  padding: 0px !important;
}

.display-none {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
