.header-style {
  font-weight: bold;
  font-size: large;
  margin: 2%;
}

.label-margin {
  margin-left: 2%;
}

.grid-header {
  font-weight: bold;
  white-space: nowrap;
}

.center-align {
  text-align: center;
}
