.table-margin {
  margin: 2%;
}

.table-border {
  border: 1px solid;
}

th {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: left;
}

td {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
}
