<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Vibrant's Challan Management Portal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that we are up with our app, you'll want to start exploring its features and components. Check out some of
        the resources below for next steps.</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-item href="/product-details">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Add/View Products</ion-label>
    </ion-item>
    <ion-item href="/challan-details">
      <ion-icon slot="start" color="medium" name="add-circle-outline"></ion-icon>
      <ion-label>Add BASF Challan</ion-label>
    </ion-item>
    <ion-item href="/view-challan-details">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>View BASF Challan</ion-label>
    </ion-item>
    <ion-item href="/add-vendor-challan">
      <ion-icon slot="start" color="medium" name="add-circle-outline"></ion-icon>
      <ion-label>Add Vendor Challan</ion-label>
    </ion-item>
    <ion-item href="/view-vendor-challan">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>View Vendor Challan</ion-label>
    </ion-item>
  </ion-list>
</ion-content>